<!DOCTYPE html>
<html>
<head>
    <title>NKDEX - 用户信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>NKDEX</h1>
        <div class="button-group">
            <button onclick="location.href='{{ url_for('site_search') }}'">站内查询</button>
            <button onclick="location.href='{{ url_for('file_search') }}'">文档查询</button>
            <button onclick="location.href='{{ url_for('phrase_search') }}'">短语查询</button>
            <button onclick="location.href='{{ url_for('wildcard_search') }}'">通配查询</button>
        </div>
        <h2>欢迎，{{ user.username }}</h2>

        <h3>搜索历史</h3>
        <ul id="search-history" class="history-list">
            {% if user.search_history %}
                {% for query in user.search_history %}
                    <li>{{ query }}</li>
                {% endfor %}
            {% else %}
                <li>暂无搜索历史</li>
            {% endif %}
        </ul>

        <h3>访问记录</h3>
        <ul id="clicked-links" class="history-list">
            {% if user.clicked_links %}
                {% for link in user.clicked_links %}
                    <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
                {% endfor %}
            {% else %}
                <li>暂无点击记录</li>
            {% endif %}
        </ul>

        <h3>为你推荐</h3>
        <div id="results"></div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                fetchRecommendations();
                 // 使用事件委托处理所有推荐链接的点击事件
                document.body.addEventListener('click', function(event) {
                    if (event.target.classList.contains('result-link')) {
                        console.log('Recommendation link clicked:', event.target.getAttribute('data-url'));  // 调试信息
                        handleResultClick(event, event.target.getAttribute('data-url'));
                    }
                });
            });
            function fetchRecommendations() {
                fetch('/recommendations', {
                    method: 'GET'
                })
                .then(response => response.json())
                .then(data => {
                    var recommendationsDiv = document.getElementById('results');
                    recommendationsDiv.innerHTML = ''; // Clear previous recommendations
                    data.hits.forEach(hit => {
                        var recommendationItem = document.createElement('div');
                        recommendationItem.innerHTML = `
                            <a href="${hit.url}" class="result-link" data-url="${hit.url}">${hit.title}</a>
                            <p class="url">${hit.url}</p>
                            <p>${hit.content.substring(0, 300)}...</p>
                            ${hit.folder && hit.html_filename ? `<a href="/snapshot/${hit.folder}/${hit.html_filename}" target="_blank" class="snapshot-link">网页快照</a>` : ''}
                        `;
                        recommendationsDiv.appendChild(recommendationItem);
                    });
                })
                .catch(error => {
                    console.error('Error fetching recommendations:', error);
                });
            }

            function handleResultClick(event, url) {
                event.preventDefault();
                console.log('Handling result click for URL:', url);  // 调试信息
                
                fetch('/update_click', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({url: url})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        console.log('Click recorded successfully');  // 调试信息
                        window.location.href = url;
                    } else {
                        console.error('Failed to update click:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Error updating click:', error);
                });
            }
        </script>

        <button onclick="logout()">退出</button>
    </div>

    <script>
        function logout() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    // 如果响应状态码不是 2xx，抛出错误
                    return response.json().then(data => {
                        throw new Error(data.error || "退出失败，请稍后再试。");
                    });
                }
                // 如果响应状态码是 2xx，解析 JSON 响应
                return response.json();
            })
            .then(data => {
                alert("已退出！");
                window.location.href = "{{ url_for('index') }}";
            })
            .catch(error => {
                console.error('Error:', error);
                alert("退出失败，请稍后再试。");
            });
        }


    </script>
</body>
</html>